button.button {
	border-radius: 3px !important;
}

.editor-wrapper {
	position: relative;
	height: 100%;
	width: calc(100% - 10px);
}

.editor-wrapper .button-format {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 20;
	opacity: 0;
	transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
	opacity: 1;
}
